 <div class="education-container container-block">
<h2 class="container-block-title">Ausbildung</h2>
    <div class="item">
        <h4 class="degree">Magister der Geschichte</h4>
        <h5 class="meta">Goethe Universität Frankfurt/M., Deutschland</h5>
        <div class="time">10/2010–07/2017</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Erasmus Austauschjahr</h4>
        <h5 class="meta">Université Paul Valery, Montpellier Frankreich</h5>
        <div class="time">09/2014–06/2015</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Materialwissenschaften</h4>
        <h5 class="meta">TU-Darmstadt, Deutschland</h5>
        <div class="time">10/2009–09/2010</div>
    </div>
    <div class="item">
        <h4 class="degree">Geographie</h4>
        <h5 class="meta">Goethe Universität Frankfurt/M., Deutschland</h5>
        <div class="time">10/2008–09/2009</div>
    </div>
    <div class="item">
        <h4 class="degree">Abitur mit Abschlussnote 2,2</h4>
        <h5 class="meta">Ernst-Reuter-Schule I, Frankfurt/M., Deutschland</h5>
        <h5 class="meta">Schüleraustausch: Flagstaff High School, Arizona USA</h5>
        <div class="time">08/2004–06/2007</div>
    </div>


</div><!--//education-container-->
